* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:visited {
    color: rgb(225, 26, 211);
}

/* Recently clicked */
a:focus {
    color: limegreen;
}

a:hover {
    background-color: yellow;
}

/* mouse down event */
a:active {
    color: black;
}

.parent {
    display: flex;
    border: 2px solid green;
    /* flex-direction: row; */
    /* flex-direction: column; */
    /* flex-direction: row-reverse; */
    /* flex-direction: column-reverse; */
    justify-content: space-evenly;
    /* align-items: center; */
    background-color: hotpink;
    min-height: 300px;
}

.child {
    background-color: red;
    border: 10px solid yellow;
    width: 200px;
    height: 200px;
    font-weight: 600;
}

.align-center {
    align-self: center;
    /* align-self: start; */
    /* align-self: end; */
}

.box1 {
    text-align: center;
    height: 300px;
    width: 300px;
    margin: 50px auto;
    background-color: green;
    transition: all 0.5s ease;
}

.box1 p {
    transition: all 0.5s ease;
}

.box1:hover {
    border-radius: 50%;
}

.box1:hover p {
    color: red;
    font-size: 30px;
}

.box1 p:hover {
    color: yellow;
    font-size: 40px;
}